* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

body {
  background-color: #08090b;
}

header {
  position: fixed;

  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem 10rem;
  z-index: 1000;

  color: #fff;
}

.logo-div img {
  cursor: pointer;

  width: 7vw;
  height: 5vw;

  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  margin-left: 7rem;
}
.navbar ul li {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
.cta-div button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  margin: 0.1rem;
}
.cta-div .btn1 {
  color: #fff;
  background: rgba(80, 80, 80, 0.227);
  backdrop-filter: blur(6px);
}
.cta-div .btn2 {
  color: #111;
  background-color: #fff;
}

.hero-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: 180vh;
  background-image:
    linear-gradient(
      to bottom,
      rgba(8, 9, 11, 0) 30%,
      rgba(8, 9, 11, 0.85) 80%,
      rgba(8, 9, 11, 1) 100%
    ),
    url(MediaAssests/bg-dark.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 12rem;
}
.hero-sec-notification {
  width: 26vw;
  display: flex;
  justify-content: space-evenly;
  background: rgba(120, 120, 120, 0.315);
  padding: 4px;
  margin-top: -11.5rem;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
}

.hero-sec-notification-text {
  padding: 0.1rem 0.5rem;
  background-color: rgb(2, 140, 2);
  border-radius: 20px;
  margin-left: -10px;
}
.hero-sec-notification-text-2 {
  margin-top: 2px;
}
.hero-sec-notification-div img {
  margin-top: 4px;
}
.hero-sec-h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.hero-sec-p {
  margin-top: -20px;
  text-align: center;
  font-size: 1rem;
}
.hero-sec-email-div {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  background: rgba(134, 134, 134, 0.315);
  padding: 0.25rem;
  border-radius: 25px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 4rem;
}
.hero-sec-email-div input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.01rem;
  color: #fff;
  font-weight: 500;
  margin-left: -28px;
}

.hero-sec-email-div button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  margin-right: -40px;
}

.hero-sec-email-div button:hover {
  background: rgba(219, 219, 219, 0.981);
}

.hero-sec-img {
  width: 70vw;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: #959595c4;
  border: 2px solid rgba(91, 91, 91, 0.351);
}

.hero-sec-img img {
  height: 100%;
}

.description-div {
  background-color: #08090b;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.description-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.description-div .compSvg {
  gap: 11rem;
}

.compSvg .svg1 {
  margin-left: 2rem;
}

.description-section {
  background: #08090b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.description-section h3 {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem;
  margin-top: -10rem;
}
.description-section-text-def {
  color: #b1b1b1;
  text-align: center;
  margin-bottom: 3rem;
}
.description-section .box-div {
  display: flex;
  gap: 2rem;
}
.box-div-child {
  border: 1px solid rgba(93, 93, 93, 0.244);
  border-radius: 1.2rem;
  width: 35vw;
  height: 73vh;
  padding: 2rem;
  margin-bottom: 2rem;
}
.box-div-child .box-div-text {
  color: rgb(12, 185, 64);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.box-div-child .box-div-h5 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.box-div-child .box-div-text2 {
  color: #b1b1b1;
}
.box-div-child .child-Animate1 {
  border-radius: 1rem;
  width: 31vw;
  height: 45vh;
  background-image: url(MediaAssests/animate-boxDiv.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box-div-child .child-Animate2 {
  border-radius: 1rem;
  width: 31vw;
  height: 45vh;
  background-image: url(MediaAssests/animate-boxDiv2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animated-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(93, 93, 93, 0.244);
  border-radius: 1.2rem;
  padding-top: 3rem;
  overflow: hidden;
}
.animated-div-p {
  color: #18e299;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  width: 72vw;
  text-align: center;
}
.animated-div h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.animated-div-p1 {
  color: #b1b1b1;
  text-align: center;
}
.animated-div div {
  width: 100%;
  height: 60vh;
  background-image: url(MediaAssests/Animate-boxImgScreenshot.svg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.customer-testimony {
  background-color: #151616;
  width: 100%;
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.customer-testimony-child1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: -5rem;
}
.customer-testimony-child1 .customer-testimony-child1-div1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70vw;
}
.customer-testimony-child1-p {
  color: #18e299;
  font-size: 0.9rem;
  font-weight: 400;
}
.customer-testimony-child1-div1 h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}
.customer-testimony-child1-div1 div {
  display: flex;
  gap: 10rem;
  align-items: center;
}
.customer-testimony-child1-div1 div p {
  color: #b1b1b1;
  font-weight: 500;
}
.customer-testimony-child1-div1 div button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 25px;
  margin-right: -40px;
  margin-top: -20px;
}
.customer-testimony-child1-div2 {
  display: flex;
  gap: 3rem;
}
.customer-testimony-child1-div2 div img {
  margin-bottom: 1.2rem;
}
.customer-testimony-child1-div2 div h5 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}
.customer-testimony-child1-div2 div p {
  color: #b1b1b1;
}
.customer-testimony-child2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.text-card {
  background-image: url(MediaAssests/AnthropicBackground.svg);
  border-radius: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  color: #fff;
  padding: 2rem;
}
.CardTextBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}
.CardTextBox span {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.CardTextBox h2 {
  margin-top: -1rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.CardTextBox .statistic {
  display: flex;
  gap: 3rem;
}
.statistic div {
  margin-top: 5rem;
}
.statistic div h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
.statistic div p {
  font-size: 0.9rem;
  color: #b1b1b1;
}
.company-lists {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.img-sec {
  background-color: #08090b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}
.img-sec span {
  color: #18e299;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.img-sec h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.img-sec p {
  color: #b1b1b1;
  text-align: center;
  font-size: 0.99rem;
  font-weight: 500;
}
.img-sec-desc {
  margin-bottom: 3rem;
}
.brand-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;
}
.brand-card-box {
  width: 25vw;
  height: 70vh;
  border-radius: 1rem;
  overflow: hidden;
}
.brand-card-box div {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}
.BrandImg1 {
  background-image: url(MediaAssests/brandImgCard1.png);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BrandImg2 {
  background-image: url(MediaAssests/brandImgCard2.png);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BrandImg3 {
  background-image: url(MediaAssests/brandImgCard3.png);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-card-box p {
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 2rem;
}
.brand-card-box span {
  font-size: 1rem;
  cursor: pointer;
}
.final-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.final-sec h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0.8rem;
}
.final-sec p {
  color: #fff;
  margin-bottom: 3rem;
}
.final-sec .last-section-button-bar {
  margin-bottom: 5rem;
  display: flex;
  gap: 1rem;
}
.final-sec button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 25px;
}
.last-section-button-bar .fin-last-section-button-bar2 {
  background: #08090b;
  color: #fff;
  border: 2px solid #151616;
}

.final-sec section {
  display: flex;
  gap: 7rem;
  padding: 2rem 0rem;
}
.final-sec section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.final-sec section hr {
  border: 0.8px solid #151616;
}
.final-sec section div img {
  background: #000000;
  padding: 0.6rem;
  border-radius: 1rem;
  border: 3px solid #151616;
  margin-bottom: 2rem;
}
.final-sec section div b {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.final-sec section div span {
  color: #18e299;
  font-weight: 500;
  font-size: 0.9rem;
}
footer {
  border-top: 1px solid #151616;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer section {
  width: 70%;
  border-left: 1px solid #151616;
  border-right: 1px solid #151616;
}
footer section .contact-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #151616;
}
.contact-sec span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Footer-Menu {
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: 4rem 0rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #151616;
}
.Menu-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Menu-col h4 {
  color: #b1b1b1;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.2rem 0.6rem;
}
.Menu-col ul li {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.2rem 0.6rem;
}
.Menu-col ul li:hover {
  background: #151616;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
}
.security-tag {
  margin-top: -4rem;
  border-bottom: 1px solid #151616;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.security-tag img {
  width: 10vw;
  height: 16vh;
}
.security-tag p {
  color: #fff;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.copyright-part {
  padding-top: 2rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 14rem;
}
.copyright-part .systemStatusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.2rem 0.8rem;
  background: #151616d0;
  border-radius: 1rem;
}
.systemStatusButton img {
  width: 0.9vw;
}
.systemStatusButton p {
  color: #fff;
  font-size: 0.9rem;
}
.copyright-text p {
  color: #b1b1b1;
  font-size: 0.9rem;
}
.copyright-part .themes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 0.5rem 0.6rem;
  background: #151616d0;
  border-radius: 1.2rem;
}
.themes img {
  width: 15px;
  height: 15px;
}
.themes .theme1 {
  box-shadow: 0 0 0 6px #08090b;
  border-radius: 10px;
}
